@page "/"

<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">MedTrack</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Анализы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>Приветствуем<br>в MedTrack!</h1>
                <p>Ваш персональный помощник для анализа состояния здоровья. Ведите медицинский дневник, отслеживайте показатели и оставайтесь в курсе изменений вашего организма.</p>
            </div>
            <div class="col text-end">
                <img src="/Ph/7.jpg" alt="Здоровье" class="img-fluid">
            </div>
        </div>
        <div class="row cards mt-5">
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <img src="/Ph/1.jpg" alt="..." class="icon">
                        <h5 class="card-title">Анализ данных</h5>
                        <p class="card-text">Собирайте медицинские показатели и получайте полезные аналитические данные.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <img src="/Ph/2.jpg" alt="..." class="icon">
                        <h5 class="card-title">Дневник здоровья</h5>
                        <p class="card-text">Записывайте симптомы, назначения врачей и события, связанные с вашим здоровьем.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <img src="/Ph/4.jpg" alt="..." class="icon">
                        <h5 class="card-title">Рекомендации</h5>
                        <p class="card-text">Получайте рекомендации по улучшению состояния на основе собранных данных.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-us" class="mt-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <img src="/Ph/6.png" alt="..." class="img-fluid" />
            </div>
            <div class="col">
                <h1>Кратко о MedTrack</h1>
                <p>MedTrack — это современный инструмент для тех, кто заботится о своем здоровье. Он позволяет легко отслеживать свои медицинские данные, выявлять тренды и своевременно принимать важные решения.</p>
                <p>Используйте MedTrack для ведения медицинского дневника, сохранения анализов и контроля назначений врача.</p>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="mt-5">
    <div class="container">
        <div class="row align-items-center projects">
            <div class="col">
                <h1>Здоровье — это важно!</h1>
                <p>Мы верим, что каждый заслуживает удобный инструмент для заботы о себе. Начните прямо сегодня с MedTrack и почувствуйте, как легко становится отслеживать свои показатели и поддерживать здоровье.</p>
            </div>
        </div>
    </div>
</section>




@code {
    public class User
    {
        public int ID { get; set; }
        public string Firstname { get; set; }
        public string Lastname { get; set; } 
        public string Middlename { get; set; }
        public DateTime Birthdate { get; set; }

        public string Login { get; set; } 
        public string Email { get; set; } 
        public string Password { get; set; }
    }
    public User[] result = new User[] { };
    string CurrentDate;
    string CurrentTime;

    protected override async Task OnInitializedAsync()
    {
        var date = DateTime.Now;
        CurrentDate = date.ToShortDateString();
        CurrentTime = date.ToLongTimeString();

        var client = new HttpClient();
        client.BaseAddress = new Uri("Server=LENA_S;Database=Medical;User Id=saa;Password=Password123;TrustServerCertificate=True");

        result = await client.GetFromJsonAsync<User[]>("api/Users");

        return;
    }
}

