@page "/contacts"

<h1>Контакты</h1>

<p>Если у вас есть вопросы, свяжитесь с нами по следующим каналам:</p>

<div>
    <h4>Телефон:</h4>
    <p>(555) 123-4567</p>
</div>

<div>
    <h4>Email:</h4>
    <p>support@medtrack.com</p>
</div>

<div>
    <h4>Адрес:</h4>
    <p>г. Москва, ул. Примерная, 10</p>
</div>
